body
{
    background-size: cover;
}

.copy_right_footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    line-height: 3;
}

canvas
{
    border: 5px double gray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px goldenrod;
    margin-top: 130px;
}

.heading
{
    width: 100%;
    font-size: 25px;
}

#start, #object_found, #status
{
    font-size: 20;
}